# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/

# Local Django DB
db.sqlite3

# Secret files
*.env
*.secret
credentials.json
google_sheets_credentials.json

# Editor and OS clutter
.vscode/
.idea/
.DS_Store
Thumbs.db

# Downloads or debug scripts
downloads/
delete_script.py
download_sheet.py

# Static files (optional if you're using collectstatic)
staticfiles/
